// Primary

$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

// Neutral

$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

html {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  .container {
    width: unquote("min(80%, 65rem)");
    min-height: unquote("35rem");
    background: $White;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 2fr 1.4fr;
    grid-template-areas:
      "info ratings"
      "reviews reviews";

    .info {
      grid-area: info;
      .heading {
        color: $Very-Dark-Magenta;
        font-size: 3rem;
        margin-bottom: 0.2rem;
      }
      .paragraph {
        padding-right: 8rem;
        line-height: 1.8;
        color: $Dark-Grayish-Magenta;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
    .ratings {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-area: ratings;
      padding: 4rem 0;
      .rating {
        width: 70%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        background: $Light-Grayish-Magenta;
        border-radius: 0.5rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        &:nth-child(1) {
          place-self: center start;
        }
        &:nth-child(2) {
          place-self: center center;
        }
        &:nth-child(3) {
          place-self: center end;
        }
        .stars {
          place-self: center start;
          padding: 0 1rem;
          img {
            padding: 0.1rem;
            width: 0.9rem;
          }
        }
        .ratedIn {
          place-self: center start;
          text-align: start;
          color: $Very-Dark-Magenta;
          font-size: 0.7rem;
          font-weight: 700;
        }
      }
    }
    .reviews {
      grid-area: reviews;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .reviewCard {
        background: $Very-Dark-Magenta;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
          "picture pName"
          "review review";
        padding: 1.5rem 1.5rem;
        border-radius: 0.5rem;
        place-content: center;
        &:nth-child(1) {
          margin-right: 1rem;
          place-self: start center;
        }
        &:nth-child(2) {
          margin: 0 1rem;
          place-self: center;
        }
        &:nth-child(3) {
          margin-left: 1rem;
          place-self: end center;
        }
        .profilePic {
          grid-area: picture;
          width: 2rem;
          height: auto;
          border-radius: 50%;
          padding: 0.5rem;
        }
        .profileName {
          grid-area: pName;
          padding-left: 0.5rem;
          .name {
            font-size: 0.7rem;
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
          }
          .type {
            font-size: 0.7rem;
            color: $Soft-Pink;
            margin-top: 0.2rem;
          }
        }
        .review {
          grid-area: review;
          color: $White;
          font-size: 0.7rem;
          font-weight: 500;
          line-height: 1.6;
        }
      }
    }
  }

  .attribution {
    font-size: 0.7rem;
    text-align: center;
    color: $Very-Dark-Magenta;
    font-weight: 700;
    padding: 2rem;
  }
  .attribution a {
    color: $Very-Dark-Magenta;
    font-weight: 500;
  }
}

@media only screen and (max-width: 850px) {
  body {
    .container {
      .info {
        .heading {
          font-size: 2rem;
        }
        .paragraph {
          padding-right: 4rem;
          line-height: 1.5;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
      .ratings {
        margin: 1rem 0 2rem;
        padding: 3rem 0;
        .rating {
          width: 80%;
          padding: 0;
          .stars {
            padding: 0;
            img {
              padding: 0.1rem;
              width: 0.7rem;
            }
          }
          .ratedIn {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  body {
    .container {
      .reviews {
        grid-template-columns: 1fr;
        .reviewCard {
          grid-template-areas:
            "picture review"
            "pName review";
          &:nth-child(1) {
            margin-right: 0;
            margin-bottom: 1rem;
            place-self: start center;
          }
          &:nth-child(2) {
            margin: 0;
            place-self: center;
          }
          &:nth-child(3) {
            margin-left: 0;
            margin-top: 1rem;
            place-self: end center;
          }
          .profileName {
            .name {
              font-size: 0.6rem;
            }
            .type {
              font-size: 0.6rem;
            }
          }
          .review {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  body {
    .container {
      grid-template-areas:
        "info info"
        "ratings ratings"
        "reviews reviews";
      .info {
        .heading {
          text-align: center;
        }
        .paragraph {
          text-align: center;
        }
        .paragraph {
          padding-right: 0;
        }
      }
      .ratings {
        padding: 0;
        .rating {
          width: 100%;
          grid-template-columns: 1fr;
          &:nth-child(1) {
            place-self: center center;
          }
          &:nth-child(3) {
            place-self: center center;
          }
          .stars {
            place-self: center center;
          }
          .ratedIn {
            place-self: center center;
          }
        }
      }
      .reviews {
        .reviewCard {
          grid-template-columns: 1fr 4fr;
          grid-template-areas:
            "picture pName"
            "review review";
          .profilePic {
            padding: 0.5rem 0;
          }
          .profileName {
            padding: 0;
          }
        }
      }
    }
  }
}
